{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Tool</title>
    <link rel="stylesheet" href="{% static 'css/tools/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/tools/tool_create.css' %}">
</head>
<body>
    <div class="header">
        <h1 class="site-title"><a href="{% url 'posts:main' %}">My SW Idea Manage💻</a></h1>
        <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
            <div class="action-buttons">
                <a href="{% url 'posts:create' %}">Idea Register</a>
                <a href="{% url 'tools:create' %}">DevTool Register</a>
                <a href="{% url 'tools:list' %}">DevTool List</a>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Add Tool</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-group">
                <button type="submit">Save</button>
                <a href="{% url 'tools:list' %}" class="cancel-btn">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>