{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool List</title>
    <link rel="stylesheet" href="{% static 'css/tools/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/tools/tool_list.css' %}">
</head>
<body>
    <div class="header">
        <h1 class="site-title"><a href="{% url 'posts:main' %}">My SW Idea Manage💻</a></h1>
        <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
            <div class="action-buttons">
                <a href="{% url 'posts:create' %}">Idea Register</a>
                <a href="{% url 'tools:create' %}">DevTool Register</a>
                <a href="{% url 'tools:list' %}">DevTool List</a>
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="tool-list">
            {% for tool in tools %}
            <div class="tool-item">
                <span class="tool-name"><a href="{% url 'tools:detail' tool.pk %}">{{ tool.name }}</a></span>
                <span class="tool-type">{{ tool.type }}</span>
                <div class="tool-actions">
                    <a href="{% url 'tools:update' tool.pk %}" class="edit-btn">Edit</a>
                    <a href="{% url 'tools:delete' tool.pk %}" class="delete-btn">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>