{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css//posts/post_create.css' %}">
    <title>Create Post</title>
</head>

<body>
    <div class="header">
        <h1 class="site-title"><a href="{% url 'posts:main' %}">My SW Idea Manage💻</a></h1>
        <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
            <div class="action-buttons">
                <a href="{% url 'posts:create' %}">Idea Register</a>
                <a href="{% url 'tools:create' %}">DevTool Register</a>
                <a href="{% url 'tools:list' %}">DevTool List</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <h2>Create Post</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if field.name == 'tool' %}
                        <select name="{{ field.name }}" id="{{ field.id_for_label }}">
                            {% for choice in field.field.queryset %}
                                <option value="{{ choice.pk }}">{{ choice.name }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <div class="button-group">
                <button type="submit">Save</button>
                <a href="{% url 'posts:main' %}" class="cancel-btn">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>
