{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/review_update.css' %}">
    <title>Update Review</title>
</head>

<body>
    <header>
        <h1><a href="/reviews/">myMovieReviews🍿</a></h1>
        <a href="/reviews/create/">Add a New Review</a>
    </header>

    <div class="update_box">
        <h1>Update {{ review.title }}</h1>
        <form action="/reviews/{{ review.id }}/update/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="image">이미지:</label>
                <input type="file" id="image" name="image">
                
                <!-- 현재 이미지를 표시 -->
                {% if review.image %}
                    <img src="{{ review.image.url }}" alt="{{ review.title }}" style="max-width: 200px; margin-top: 10px;">
                {% endif %}
            </div>

            <div class="form-group">
                <label for="title">제목:</label>
                <input type="text" id="title" name="title" value="{{ review.title }}" required><br>
            </div>
        
            <div class="form-group">
                <label for="year">개봉년도:</label>
                <input type="number" id="year" name="year" value="{{ review.year }}" required><br>
            </div>
        
            <div class="form-group">
                <label for="director">감독:</label>
                <input type="text" id="director" name="director" value="{{ review.director }}" required><br>
            </div>
        
            <div class="form-group">
                <label for="actor">주연:</label>
                <input type="text" id="actor" name="actor" value="{{ review.actor }}" required><br>
            </div>
        
            <div class="form-group">
                <label for="genre">장르:</label>
                <select id="genre" name="genre" required>
                    {% for key, value in genre_choices %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="form-group">
                <label for="running_time">러닝타임:</label>
                <input type="number" id="running_time" name="running_time" value="{{ review.running_time }}" required><br>
            </div>
        
            <div class="form-group">
                <label for="content">리뷰:</label>
                <textarea id="content" name="content" required>{{ review.content }}</textarea><br>
            </div>
        
            <div class="form-group">
                <label for="rank">별점:</label>
                <input type="number" id="rank" name="rank" value="{{ review.rank }}" required><br>
            </div>
        
            <button type="submit" class="save-btn">Save</button>
        </form>
    </div>
</body>

</html>